.footer {
  padding: 32px 0;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #D7E2FF;
  border-radius: 22px;

  &__row {
    display: flex;
    align-items: flex-start;
    column-gap: 70px;
  }

  &__company {
    width: 80px;

    &_logo {
      width: 100%;
    }

    &_socialMedia {
      margin: 20px 0 0;
      width: 100%;
      display: flex;
      align-items: center;
      column-gap: 10px;

      a {
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  &__right {
    flex: auto;
  }

  &__top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__menu {
    display: flex;
    align-items: flex-start;
    column-gap: 70px;

    &_column {
      display: flex;
      flex-direction: column;
      row-gap: 15px;

      a {
        color: var(--secondary-color);

        &:first-child {
          font-weight: 800;
          margin-bottom: 5px;
        }
      }

      &-disabledItem {
        display: flex;
        align-items: center;
        column-gap: 5px;
        user-select: none;

        p {
          color: var(--secondary-color);
          opacity: 0.4;
        }

        span {
          font-size: 10px;
          line-height: 12px;
          color: var(--secondary-light-color);
          padding: 2px 4px;
          background: #F0F8FF;
          border-radius: 16px;
          display: block;
        }
      }
    }
  }

  &__download {
    display: flex;
    align-items: flex-start;
    column-gap: 18px;

    &_actions {
      width: 140px;

      .qrCode {
        width: 100%;
        height: 140px;
      }

      .downloadButtons {
        margin-top: 10px;
        column-gap: 5px;

        a {
          width: calc(100% / 2 - 5px / 2);
        }
      }
    }

    &_text {
      p {
        color: var(--secondary-color);

        &:first-child {
          font-weight: 700;
          margin-bottom: 12px;
        }
      }
    }
  }

  &__bot {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &_left {
      display: flex;
      align-items: center;
      column-gap: 25px;

      a {
        color: #3F7FF4;
      }
    }

    p {
      color: var(--secondary-color);
      opacity: 0.4;
    }
  }
}

@media (max-width: 1260px) {
  .footer {
    padding: 28px 0;
    border-radius: 20px;

    &__row {
      column-gap: 50px;
    }

    &__company {
      width: 70px;

      &_socialMedia {
        margin: 10px 0 0;
        column-gap: 8px;
      }
    }

    &__menu {
      column-gap: 50px;

      &_column {
        row-gap: 12px;

        a {
          &:first-child {
            margin-bottom: 4px;
          }
        }

        &-disabledItem {
          column-gap: 4px;
        }
      }
    }

    &__download {
      display: flex;
      align-items: flex-start;
      column-gap: 12px;

      &_actions {
        width: 120px;

        .qrCode {
          width: 100%;
          height: 120px;
        }

        .downloadButtons {
          margin-top: 10px;
          gap: 5px 0;
          flex-wrap: wrap;

          a {
            width: 100%;
          }
        }
      }

      &_text {
        p {
          &:first-child {
            margin-bottom: 8px;
          }
        }
      }
    }

    &__bot {
      margin-top: 40px;

      &_left {
        column-gap: 20px;
      }
    }
  }
}

@media (max-width: 996px) {
  .footer {
    padding: 24px 0;
    border-radius: 16px;

    &__row {
      column-gap: 40px;
    }

    &__download {
      column-gap: 10px;

      &_actions {
        width: 100px;

        .qrCode {
          width: 100%;
          height: 100px;
          padding: 6px;
        }

        .downloadButtons {
          margin-top: 10px;
          gap: 5px 0;
          flex-wrap: wrap;

          a {
            width: 100%;
          }
        }
      }

      &_scan {
        width: 55px;
      }

      &_text {
        p {
          &:first-child {
            margin-bottom: 6px;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .footer {
    h2 {
      text-align: center;
      color: var(--secondary-color);
    }

    .downloadButtons {
      margin: 18px 0 35px;
      column-gap: 16px;
      justify-content: center;

      a {
        width: 120px;
      }
    }

    &__menu {
      column-gap: unset;
      justify-content: space-between;
    }

    &__bot {
      flex-direction: column;
      row-gap: 32px;

      &_left {
        flex-wrap: wrap;
        gap: 16px 30px;

        a {
          white-space: nowrap;
        }
      }
    }
  }
}