.bottomSheet {
  padding: 12px 16px 20px;
  background: rgba(255, 255, 255, 0.93);
  border-radius: 20px;
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 50%;
  z-index: 120;
  transform: translate(-50%);
  transition: height 0.3s ease;

  &__topBar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 13px;
    margin-left: auto;
    width: calc(100% / 2 + 40px);

    &_line {
      background: #E7E7E7;
      border-radius: 4px;
      width: 80px;
      height: 3px;
    }

    &_close {
      width: 22px;
      height: 22px;
      background: #E7E7E7;
      border-radius: 50%;
      color: #FFFFFF;
      font-size: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  h3 {
    text-align: center;
    margin-bottom: 16px;
  }
}